@{
    ViewData["Title"] = "Log in";
}

<form>
    <p>
        <label>User name: </label>
        <input type="text" placeholder="username"/>
    </p>
    <p>
        <label>Password: </label>
        <input type="password" placeholder="password"/>
    </p>
    <p>
        <input id="btnLogin" class="btn btn-success" type="button" value="Login" />
    </p>
</form>