@{
    ViewData["Title"] = "Home Page";
}

<h1>QuizTime</h1>

<input type="button" value="Log in" onclick="location.href='@Url.Action("Login", "Account")'" />
<input type="button" value="Sign in" onclick="location.href='@Url.Action("Signin", "Account")'" />
<input type="button" value="Log in with Google" onclick="location.href='/Account/LoginGoogle?provider=Google&response_type=token&client_id=self&redirect_uri=http%3A%2F%2Flocalhost%3A61358%2FAccount%2FLogin.html&state=6Phc_u0Xkj3opJ9TymPhw9olZV_zB6Pjv_OcIfNAprk1'"/>
