@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
    <link href="~/bin/css/bootstrap-darkly.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/homepage.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body >




    <!-- Header -->

    <div class="intro-header">
        
        <div class="container justify-content-center">
            <div class="row justify-content-center">
                <!--div>  <img src="~/images/logo.png" class="col-sm-12" id="logo"/></div-->
                <div class="col-centered col-md-auto col-lg-auto ">
                   
                    <div class="col-md-auto col-lg-auto">
                        <!-- @if (User.Identity.IsAuthenticated)
                        {
                            <h1>Welcome @User.Identity.Name</h1>
                        } -->
                        
                        <h1>Welcome aboard</h1>
                        <h2> Make trivia quizzes and challenge the others </h2>
                        <h3>Do you want to play?</h3>
                        

                        <div class="container col-md-auto justify-content-center" style="margin-top: 12%;">
                        
                        <ul style="padding-left: 0px;">

                            <!-- @if (User.Identity.IsAuthenticated)
                            {
                                <li><a style="border-radius: 25px;" asp-area="" asp-controller="Auth" asp-action="SignOut" >Sign out</a></li>
                            } -->
                            <li >
                                <a  style="border-radius: 25px;" href="../Account/Login" type="button" class="btn btn-warning  btn-lg btn-block col-sm-12 "> <span class="network-name">Log in</span></a>
                            </li>
                            <!--li class="col-sm-12 col-lg-0 col-md-0"></li-->
                            <li id="sign">
                                 <a style="border-radius: 25px;" href="../Account/Registration"  type="button" class="btn  btn-warning btn-lg btn-block col-sm-12 "> <span class="network-name">Sign up</span></a>
                            </li>
                            
                            
                            
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/bin/js/bootstrap.min.js"></script>

</body>

</html>


<!--h1>QuizTime</h1>

<input type="button" value="Log in" onclick="location.href='@Url.Action("Login", "Account")'" />
<input type="button" value="Sign in" onclick="location.href='@Url.Action("Registration", "Account")'" /-->
