@{
    ViewData["Title"] = "Start page";
}
<!--On this page the Quiz master is going to 
    select the quiz that will be played 
    or [later] he can choose to create a new quiz-->
<h1>It's QuizTime!</h1>
<a href="@Url.Action("Logout", "Account")">Log out</a>

<div>
    Quiz Master @User.Identity.Name 
</div>
<div>Select quiz...TODO</div>

<a asp-action="Lobby" asp-controller="Quiz"><button type="button">Next</button></a>
