@model QuizModel;
@{
    ViewData["Title"] = "Quiz";
}
<!--This page displays the questions-->
<button id="startButton" type="button">JoinQuiz</button></a>
<div id="playersList"></div>
<h1>Select the right answer</h1>

<p>@Model.Questions.ElementAt(0).Question</p>
<p>@Model.Questions.ElementAt(0).CorrectAnswer</p>
<p>@Model.Questions.ElementAt(0).WrongAnswer</p>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/quizMaster.js"></script>