@{
    ViewData["Title"] = "Play";
}
<!--On this page players will enter the quiz code 
    for the quiz they want to join-->

<h3>Enter quiz code to join</h3>
    User <input type="text" id="userInput" />
        <br />
    Pin <input type="text" id="pinInput" />
        <input type="button" id="joinButton" value="Join Quiz" />
    
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/player.js"></script>