@{
    ViewData["Title"] = "Play";
}
<!--On this page players will enter the quiz code 
    for the quiz they want to join-->
<h1>Select your answer</h1>

<div>
    User..........<input type="text" id="userInput" />
            <br />
    Code.....<input type="text" id="quizCode" />
    <input type="button" id="joinButton" value="Join Quiz" />
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/player.js"></script>